# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
plugins/hello.php
plugins/index.php
plugins/akismet
plugins/classic-editor
plugins/wp-lazy-loading
plugins/wordpress-importer

# ignore specific themes
themes/twenty*/
themes/index.php

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore all default files
index.php
